# Template for the frontend .env file

# Specifies the location of the pocketbase backend
REACT_APP_BACKEND_URL=""

# This is used to format the caldender integrations URLs for users to copy from the settings page
# Don't add a trailing slash to the calender base URL
REACT_APP_CALENDER_URL=http://127.0.0.1:8090/pb

REACT_APP_TERMS_AND_CONDITIONS_URL=""
REACT_APP_PRIVACY_POLICY_URL=""