.wrapper {
    margin: auto;
    padding: 18px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-large);
    margin-top: 4%;
}

.logo {
    max-width: 400px;
    margin: auto;
}

.tab {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px;
    border: 2px solid var(--dark-grey);
    border-radius: var(--radius);
    border-top-left-radius: 0;
}

.signInWithGoogleButton {
    border: 2px solid var(--dark-grey);
    background-color: transparent;
    color: var(--text-white);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-medium);
    /* Keep padding same as login button */
    padding: 8px 14px;
}

.signInWithGoogleButton > img {
    font-size: 2rem;
}




@media screen and (max-width: 800px) {
    .wrapper {
        margin: 0;
        height: 100%;
        height: 100vh;
    }

    .logo {
        max-width: 100%;
    }

    .tab {
        height: 100%;
    }

    .wrapper input {
        padding: 6px;
        font-size: 1.2rem;
    }

    .wrapper button {
        width: 100%;
    }

    .signInWithGoogleButton {
        /* Keep padding same as login button on mobile */
        padding: 16px;
    }
}