.wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.locations {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}

.currentLocation {
    display: flex;
    background-color: var(--dark-grey);
    color: var(--text-white);
    border-radius: var(--input-radius);
}

.locations .select {
    background-color: var(--dark-grey);
}

.textInput {
    margin: 0 !important;
}

.currentLocation > button {
    padding: 2px;
    background-color: transparent;
    border: none;
    color: white;
    border-right: 1px solid var(--light-grey);
    padding: 0 6px;
    display: flex;
    align-items: center;
}

.currentLocation > button:hover {
    background-color: var(--light-grey);
}

.currentLocation > span {
    padding: 4px;
    display: flex;
    align-items: center;
}

.add {
    display: flex;
    gap: 0.75rem;
}









.inputWrapper {
    background-color: var(--input-bg);
    border-radius: var(--input-radius);
    border: 1px solid var(--input-border);
    font-family: inherit;
    padding: var(--input-padding);
    max-width: 100%;
    display: flex;
    align-items: center;
    color: white;
}

.inputWrapper input {
    padding: 0;
    background-color: transparent;
    border: none;
    color: inherit;
}

.inputWrapper:focus-within {
    outline: 2px solid var(--text-orange);
}

.textInput {
    flex: 1;
}

.textInput:focus {
    outline: none;
}

.searchIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
    color: white;
}

.select {
    display: flex;
    flex-direction: column;
    /* background-color: var(--dark-grey); */
    max-height: 14rem;
    overflow-y: auto;
    z-index: 1200;
    border-bottom: 0.5px solid var(--text-grey);
    border-left: 0.5px solid var(--text-grey);
}

.clearBtn {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: white;
}

.item {
    color: var(--text-white);
    padding: 6px 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.item:hover {
    background-color: var(--text-blue);
}

@media screen and (max-width: 800px) {
    /* .inputWrapper input {
        margin-top: 6px;
        width: 100%;
        font-size: 1.1rem;
        padding: 10px;
    } */
}