.upcomingDeadline {
    background-color: var(--upcoming-deadline-bg) !important;
}

.today {
    background-color: var(--almost-late-bg) !important;
}

.upcoming {
    background-color: var(--deadline-upcoming-bg);
    padding-left: 4px;
    padding-right: 4px;
}
