.wrapper {
    flex: 1;
    padding: var(--spacing-small);
    border: 1.2px solid var(--border-colour);
    border-radius: var(--radius);
    border-radius: var(--radius);
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-small);
}

.inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: auto;
}

.past {
    background-color: var(--passed-deadline-bg);
    padding-left: 4px;
    padding-right: 4px;
}

.missed {
    background-color: var(--missed-deadline-bg) !important;
    padding-left: 4px;
    padding-right: 4px;
}

.upcoming {
    background-color: var(--upcoming-deadline-bg);
    padding-left: 4px;
    padding-right: 4px;
}

.past,
.missed,
.upcoming {
    font-size: 0.9rem;
}

@media screen and (max-width: 800px) {

    .wrapper {
        /* display: none; */
        width: unset;
        /* border: none; */
        gap: var(--spacing-medium);
    }
}