.row {
    animation: fadeIn 100ms forwards;
    
    opacity: 0;
}

.row:active {
    color: var(--text-white);
}

.row:not(.selected):hover {
    background-color: var(--dark-grey-hover);
}

.org,
.role {
    max-width: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dln {
    white-space: nowrap;
}

.selected {
    color: var(--text-white);
}

.selected td {
    background-color: var(--dark-grey);
    /* background-color: rgba(210, 136, 39, 0.2); */
}

.deadline {
    padding-left: 4px;
    padding-right: 4px;
}

@keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1;
    }
}

@media screen and (max-width: 800px) {
    .row {
        display: flex;
        justify-content: space-between;
    }
    .org {
        max-width: unset;
        flex: 1;
    }
    .org > small {
        max-width: 50vw;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .dln {
        /* display: none; */
        font-size: 0.9rem;
    }
    .hasDeadline .org {
        max-width: 40vw;
    }
}