/* .upcomingDeadline {
    background-color: var(--upcoming-deadline-bg) !important;
} */

.missed {
    background-color: var(--missed-deadline-bg) !important;
    padding-left: 4px;
    padding-right: 4px;
}

.upcoming {
    background-color: var(--upcoming-deadline-bg);
    padding-left: 4px;
    padding-right: 4px;
}
