.window {
    height: 100%;
    border: 2px solid var(--border-colour);
    display: flex;
    flex-direction: column;
    position: fixed;
    top: calc(var(--header-height) + var(--spacing-medium));
    width: 100%;
    height: calc(100vh - (var(--header-height) + (var(--spacing-medium))));
    width: var(--aside-window-width);
    border-radius: var(--radius);
    overflow: hidden;
}

.window.enter {
    animation: slideIn var(--popup-enter-exit-time) forwards;
}

.window.exit {
    animation: slideOut var(--popup-enter-exit-time) forwards;
}

.hr {
    border-color: rgb(28, 28, 28);
}

.topBar {
    display: flex;
    justify-content: right;
    background-color: var(--border-colour);
    padding: calc(var(--spacing-small) / 2);
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.topBar button {
    color: var(--text-white);
    font-weight: 600;
    background-color: transparent;
    width: 1.85rem;
    height: 1.85rem;
}

.inner {
    padding: var(--page-padding-left);
    overflow-x: hidden;
    overflow-y: auto;
}

.newTask {
    color: var(--text-white);
    /* font-weight: 600; */
    background-color: var(--dark-grey);
    display: flex;
    gap: 6px;
}

.close {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    aspect-ratio: 1;
}
.close:hover {
    background-color: var(--light-grey);
}

.link {
    text-wrap: nowrap;
    text-overflow: ellipsis;
}

.link:hover {
    text-decoration: underline;
}

.info:hover {
    outline: 2px dashed var(--border-colour);
    border-radius: calc(var(--spacing-small) / 3);
    cursor: text;
}

.info:active {
    outline: 2px dashed var(--light-grey);
}

.keyIndicators {
    display: flex;
    gap: 2px;
    align-items: center;
    font-size: 0.6rem;
}

.keyIndicators > span {
    padding: 2px 4px;
    border-radius: 1000px;
    background-color: rgba(100, 100, 100, 0.5);
}

.stages {
    display: flex;
    gap: 4px;
    justify-content: space-between;
}

.stageLbl {
    flex: 1;
    background-color: var(--dark-grey);
    color: var(--text-orange);
    text-align: center;
    padding: 4px;
}

.stageLbl > input {
    display: none;
}

.stageLbl.activeStage {
    background-color: var(--light-grey);
    color: var(--text-white);
}

.stageSelect {
    padding: 6px;
    background-color: transparent;
    border: 2px solid var(--dark-grey);
    color: var(--text-orange);
    border-radius: calc(var(--spacing-small) / 2);
}

.stageSelect:hover,
.stageSelect:focus {
    background-color: var(--light-grey);
}

.stageSelect option {
    background-color: var(--dark-grey);
    color: var(--text-grey);
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(100%);
        opacity: 0;
    }
}

@media screen and (max-width: 1024px) {

    .window {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100vw;
        height: 100vh;
        z-index: 500;
        background-color: var(--bg-colour);
        animation: none;
    }

    .window.enter,
    .window.exit {
        animation: none;
    }

    .wrapper {
        padding: 0;
    }

    .topBar {
        font-size: 1.1rem;
        height: var(--header-height-mobile);
        flex-direction: row-reverse;
    }

    .topBar button {
        width: 24pt;
        aspect-ratio: 1;
        font-size: 22px;
    }

    .mobileTextRight {
        text-align: right;
    }

    .documentRow {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .inner {
        font-size: 1.1rem;
        overflow-y: auto;
        padding-bottom: 25vh;
    }

    .stages {
        flex-direction: column;
    }
}