@keyframes notificationEnter {
    from {
        transform: translateY(-50%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.wrapper {
    width: 100%;
    padding: 0 var(--page-padding-left) 25vh var(--page-padding-right);
    padding-top: calc(var(--header-height) + var(--spacing-medium));
    padding-bottom: var(--spacing-large);
    display: flex;
    gap: var(--spacing-medium);
    padding-bottom: 25vh;
}

.applicationsTasksWrapper {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-medium);
    flex: 1;
    max-width: 100%;
}

.asidePage {
    min-width: 500px;
    width: var(--aside-window-width);
}

.dataVisWrapper {
    height: 420px;
    display: flex;
    gap: var(--spacing-medium);
}

.applicationsWrapper {
    flex: 1;
    min-width: 500px;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-medium);
}

.tablesWrapper {
    display: flex;
    gap: var(--spacing-medium);
    /* height: calc(100vh - 300px); */
}

.newAppBtn {
    width: 1em;
    height: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}



.loginWrapper {
    padding: 16px;
}


@media screen and (max-width: 1024px) {
    .tablesWrapper {
        flex-direction: column;
    }
    .applicationsWrapper td {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

@media screen and (max-width: 800px) {
    .wrapper {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 40vh;
        padding-top: var(--header-height-mobile);
    }
    /* .wrapper td {
        padding-top: 2px;
        padding-bottom: 2px;
    } */
    .applicationsTasksWrapper {
        gap: 0;
    }
    .applicationsWrapper {
        min-width: unset;
        display: flex;
        flex-direction: column;
        gap: var(--spacing-medium);
    }
    .applicationsWrapper > h3,
    .tasksWrapper > h3 {
        font-size: 1.5rem;
    }
    .dataVisWrapper {
        height: unset;
        flex-direction: row;
        overflow-x: auto;
        padding-top: var(--spacing-large);
        padding-left: calc(var(--page-padding-left) * 2);
        padding-right: calc(var(--page-padding-right) * 2);
        padding-bottom: var(--spacing-large);
        scrollbar-width: none;
    }
    .dataVisWrapper::-webkit-scrollbar {
        display: none;
    }
    .mobileDeadlinesViewActive {
        flex-direction: column-reverse;
        gap: var(--spacing-large);
    }
    .tablesWrapper {
        height: unset;
        gap: var(--spacing-large);
    }
    .tasksWrapper {
        padding-top: 0;
    }
    .asidePage {
        min-width: unset;
        width: unset;
    }
    .mobileNewAppBtn {        
        --outerPadding: 24px;

        position: fixed;
        bottom: calc(var(--mobile-nav-tabs-height) + var(--outerPadding));
        right: var(--outerPadding);
        display: flex;
        justify-content: center;
        font-weight: 300;
        color: white;
        background-color: var(--text-orange);
        border: none;
        border-radius: 100%;
        font-size: 2.6rem;
        width: 60px;
        height: 60px;
        z-index: 1;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border: 4px solid #906021;
    }

    .mobileNewAppBtn:active,
    .mobileNewAppBtn:focus {
        background-color: #906021;
    }
}