.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    font-size: 0.95rem;
    /* border-bottom: 1.5px solid black; */
    box-shadow: rgba(0, 0, 0, 0.4) 1.95px 1.95px 2.6px;
}

.header header {
    display: flex;
    gap: var(--spacing-small);
    align-items: center;
    justify-content: space-between;
    padding-left: var(--page-padding-left);
    padding-right: var(--page-padding-right);
}

.header button {
    padding: 6px;
    display: flex;
    align-items: center;
    gap: 4px;
}

.buttons {
    flex: 1;
    display: flex;
    justify-content: left;
}

.logo {
    height: calc(var(--header-height) / 1.75);
}

.years {
    display: flex;
    gap: 2px;
    padding: 2px 12px;
    background-color: var(--dark-grey);
}

.years > button {
    background-color: transparent;
    color: whitesmoke;
    padding: 6px;
    font-size: inherit;
}

.selected {
    background-color: var(--light-grey) !important;
}

.keyIndicators {
    display: flex;
    gap: 2px;
    align-items: center;
    font-size: 0.6rem;
}

.keyIndicators > span {
    padding: 2px 4px;
    border-radius: 1000px;
    color: var(--text-bg);
    background-color: rgba(59, 59, 59, 0.25);
}

.groupSelect {
    flex: 1;
}

.groupSelect select {
    background-color: transparent;
    color: var(--text-white);
    padding: 4px;
    height: 100%;
    border-radius: calc(var(--radius) / 2);
}

.groupSelect select:hover,
.groupSelect select:focus {
    background-color: var(--light-grey);
}

.groupSelect option {
    background-color: var(--dark-grey);
    color: var(--text-white);
}

.groupSelect option:checked {
    background-color: var(--text-orange);
}

.newAppButtonWrapper {
    flex: 1;
    display: flex;
    justify-content: right;
}

.newAppButton {
    background-color: var(--text-orange);
    color: var(--bg-colour);
    /* font-weight: 600; */
    border: none;
    border: 2px solid #906021;
}

.newAppButton:hover {
    background-color: #906021;
}

.newAppButton:active {
    background-color: #d7953e;
}

.groupSelectWrapper
.mobileGroupSelectWrapper {
    flex: 1;
    display: flex;
    justify-content: center;
}

.groupSelectWrapper select,
.mobileGroupSelectWrapper select {
    border: none;
}

.groupSelect {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 800px) {

    .header {
        font-size: 1.1rem;
        height: var(--header-height-mobile);
        /* box-shadow: none; */
    }

    .header header {
        gap: 0;
        height: var(--header-height-mobile);
        flex-direction: row-reverse;
    }

    .logo {
        display: none;
    }

    .buttons {
        flex: none;
    }

    .newAppButtonWrapper {
        flex: none;
    }
    
    .newAppButton {        
        --outerPadding: 24px;

        position: fixed;
        bottom: var(--outerPadding);
        right: var(--outerPadding);
        display: flex;
        justify-content: center;
        font-weight: 300;
        color: white;
        background-color: var(--text-orange);
        border: none;
        border-radius: 100%;
        font-size: 2.6rem;
        width: 4.5rem;
        height: 4.5rem;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border: 4px solid #906021;

        display: none !important;
    }

    .newAppButton:active,
    .newAppButton:focus {
        background-color: #906021;
    }

    .groupSelect select {
        border: none;
        padding-left: 0;
        font-size: 1.1rem;
    }

    .mobilePageTitle {
        font-size: 1em;
        font-weight: 500;
        color: var(--text-white);
        flex: 1;
    }

    .groupSelectWrapper {
        flex: 1;
        display: none;
    }

    .mobileGroupSelectWrapper select {
        font-size: 0.7rem;
        padding: 0;
        color: var(--text-blue);
    }
}