/* .wrapper {
  border: 15px solid;
  border-image: linear-gradient(45deg, #f3ec78, #af4261) 1;
  animation: borderAnimation 5s linear infinite;
}

@keyframes borderAnimation {
  0% {
    border-image-source: linear-gradient(45deg, #f3ec78, #af4261);
  }
  100% {
    border-image-source: linear-gradient(405deg, #f3ec78, #af4261);
  }
} */

.wrapper {
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    gap: var(--spacing-large);
    height: 100%;
    background-image: url(/public/recap-bg.svg);
	background-color: rgba(35, 35, 35, 0.6);
    background-size: cover;
    padding: var(--spacing-medium);
    color: var(--text-white);
}

.top {
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 3rem;
    object-fit: contain;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-large);
    flex: 1;
}

.content p {
	font-size: 1.4rem;
	font-weight: 500;
}

.contentInner {
	display: flex;
    flex-direction: column;
    gap: var(--spacing-medium);
	letter-spacing: 0.5px;
}

.subtitle {
    font-size: 2.4rem;
    font-weight: 600;
    color: var(--text-white);
}

.figure {
    font-size: 1.2em;
    font-weight: 600;
    color: var(--text-orange);
}