.table tr:hover {
    background-color: var(--dark-grey-hover);
}

.timeAgo {
    font-size: 0.7rem;
    color: var(--text-grey);
}

.checkbox {
    font-size: 0.9rem;
}

.justChecked {
    animation: justCheckedCheckbox 0.4s forwards;
}

@keyframes justCheckedCheckbox {
    
}

.statusInfo {
    padding: 45px;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-medium);
    align-items: center;
    justify-content: center;
}

.statusInfo button {
    background-color: transparent;
    color: var(--text-orange);
    border: none;
}

.illustration {
    width: 6rem;
}

.taskInfo {
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;  */
}

.deadline {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1024px) {
    .table tr {
        font-size: 0.95rem;
        padding-top: 4px;
        padding-bottom: 4px;
    }
    .checkbox {
        font-size: 20px;
    }
    .taskInfo {
        display: flex;
        align-items: center;
        flex: 2;
        padding-left: 8px;
        padding-right: 8px;
    }
    .deadline {
        flex: 1;
        padding-right: var(--page-padding-right);
        font-size: 0.75rem;
    }
}